
FIREWORKS_API_KEY=
TAVILY_API_KEY=
FIREWORKS_CHAT_MODEL=
FIREWORKS_EMBEDDING_MODEL=
TAVILY_API_KEY=
OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=session-10-rag-eval
